bin/
datasheets/
dist/
research/

# FreeCAD
*.FCBak

# KiCAD
*-backups/
*.kicad_pcb.lck
*.kicad_prl
fp-info-cache

# MPLAB X
src/**/firmware/*.err
src/**/firmware/*.obj
src/**/firmware/defmplabxtrace.log
src/**/firmware/defmplabxtrace.log.inx
src/**/firmware/build/**
src/**/firmware/debug/**
src/**/firmware/disassembly/**
src/**/firmware/dist/**
src/**/firmware/funclist
src/**/firmware/nbproject/private/**
src/**/firmware/nbproject/Makefile-genesis.properties
src/**/firmware/nbproject/Makefile-*.mk
src/**/firmware/nbproject/Package-*.bash
/hardware/FanController/firmware/build/

# Else
*(blueprint)*
TODO.md
